
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
   
    <img src="~/images/logo.png" class="logo" alt="Log" />

    <input type="button" value="Click" class="btn btn-outline-dark" />
    <h1 class="h-75">Welcome to Aman's Book Store Index page</h1>
    <p class="p-3">This is our home page of Book Application</p>
</body>
</html>
